.stepper-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #000000;
  padding: 20px;
  background-image: linear-gradient(
      rgba(12, 12, 12, 0.841),
      rgba(16, 16, 16, 0.834)
    ),
    url("reg_back.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0;
}
.stepper-container {
  background: #e1e1e13c;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(83, 83, 83, 0.088);
  width: 100%;
  max-width: 500px;
  padding: 30px;

  box-sizing: border-box;
}

.stepper-header {
  margin-bottom: 20px;
}

.step-header {
  margin-bottom: 20px;
  font-size: 22px;
  font-weight: bold;
  color: #333;
}

.stepper-content {
  display: flex;
  flex-direction: column;
}

.step-actions {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}
h4,
h3,
h2 {
  font-weight: 700;
  color: white;
  padding: 0;
}
h4 {
  margin-bottom: 0;
}

.btn {
  background-color: #0e14c1;
  border: none;
  color: #ffffff;
  font-weight: 400;
  font-size: 17px;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  margin-right: 0;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s;
}

.btn:hover {
  background-color: #1d1d1d;
}
.reset-container {
  text-align: center;
}

.loader-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.loader-container p {
  font-size: 24px;
  font-weight: bold;
  color: white;
  margin-top: 20px;
}

.pulsing-circle {
  width: 100px;
  height: 100px;
  background-color: #ffffff;
  border-radius: 50%;
  animation: pulse 2s infinite;
}

@keyframes pulse {
  0%,
  100% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(1.5);
    opacity: 0.5;
  }
}
@media (max-width: 768px) {
  .stepper-wrapper {
    background-image: linear-gradient(
        rgba(12, 12, 12, 0.758),
        rgba(16, 16, 16, 0.77)
      ),
      url("regback.jpeg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  .stepper-container {
    padding: 20px;
    max-width: 90%;
  }

  .btn {
    font-size: 14px;
    padding: 8px 16px;
  }
}
