.App {
  background-color: black;
}
#head {
  text-align: center;
  position: relative;
  margin-top: 0px;
  color: white;
}

#head::before {
  content: "";
  position: absolute;
  top: -10px;
  left: 0;
  width: 100%;
  height: 5px;
  background-color: black;
}
