.stepper-wrapper {
  max-width: 50%;
  margin: 0 auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  height: 100vh; /* Full viewport height */
  overflow-y: auto; /* Allow vertical scrolling */
}

.stepper-container {
  max-width: 100%;
  margin: 0 auto;
  color: rgb(0, 0, 0);
}

.step {
  margin-bottom: 40px;
  position: relative;
}

.step.active::after,
.step.completed::after {
  background-color: rgb(0, 28, 128);
}

.step-label {
  display: flex;
  align-items: center;
}

.step-circle {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  border: 2px solid #ccc;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 16px;
  background-color: #333;
  color: white;
  font-weight: bold;
  position: relative; /* Position relative to align with the line */
  z-index: 1; /* Ensure the circle is above the line */
}

.step-circle.completed {
  background-color: rgb(0, 2, 128); /* Completed step background */
  color: white;
}

.step-content {
  display: none;
  margin-top: 16px; /* Increased margin for indentation */
}

.step-content.show {
  display: block;
}

.step-content p {
  margin: 0;
  padding-left: 50px; /* Indentation for inner content */
}

.step-actions {
  margin-top: 16px;
  padding-left: 16px; /* Indentation for buttons */
}

.btn {
  padding: 8px 16px;
  margin-left: 10px;
  background-color: #007bff; /* Button color */
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-right: 8px;
}

.btn:hover {
  background-color: #0056b3; /* Hover color */
}

.btn:disabled {
  background-color: #999;
  cursor: not-allowed;
}

.optional {
  font-size: 0.8em;
  margin-left: 8px;
  color: #bbb;
}

.reset-container {
  text-align: center;
  margin-top: 24px;
}

.reset-container p {
  margin-bottom: 16px;
}

.reset-container .btn {
  background-color: #28a745;
}

@media (max-width: 768px) {
  .stepper-wrapper {
    max-width: 95%; /* Adjust container width to 95% for mobile view */
    padding: 15px; /* Slightly reduce padding for smaller screens */
  }
}
